<div class="container">
    <mat-card-header>
        <mat-card-title>{{musicalBand.name}}</mat-card-title>
        <mat-card-subtitle>Band Info</mat-card-subtitle>
    </mat-card-header>

    <mat-card class="profile-card">
        <mat-card-content class="profile-info">
            <p class="details">
                Music Genre: {{musicalBand.musicGenre}} 
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card-actions class="survey-button">
        <button mat-button (click)="takeSurvey()">Take Band Member Survey</button>
    </mat-card-actions>
</div>

