<div class="container">
    <h1 class='title'> Create a New Band </h1>
  
    <form [formGroup] = "createBandForm" class="create-band-form"> 
  
      <mat-form-field appearance="outline">
        <mat-label>Band Name</mat-label>
        <input required matInput placeholder="Band Name" formControlName="name">
        <div *ngIf="name.touched" class="alert">
          <div *ngIf="name.errors?.['required']">
            A name is required!
          </div>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Music Genre</mat-label>
        <input matInput placeholder="Music Genre" formControlName="musicGenre">
      </mat-form-field>
  
    </form>
  
    <div class="actions">
      <button mat-stroked-button class="cancel" (click)="closeDialog()">
        Cancel
      </button>
  
      <button  mat-stroked-button class="save" [disabled]="!createBandForm.valid" (click)="saveBand()">
        Save
      </button>
    </div>
</div>
