.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;

  .see-account {
    margin-bottom: 30px;
  }

  .title {
    font-size: 28px;
    font-weight: bold;
    color: rgb(46, 46, 49);
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .profile-card {
    padding: 25px;
    padding-bottom: 15px;
    width: 80%;
    max-width: 450px;
    overflow-y: auto;
    margin-bottom: 25px;

    .profile-header {
      background-image: url('https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=');
      background-size: cover;
      margin-bottom: 0px;
    }

    .profile-info {
      .details {
        text-align: justify;
        font-size: 16px;
        margin-top: 22px;
        margin-left: 20px;
      }

      ul {
        margin-top: -5px;
      }

      li {
        margin-left: 20px;
        font-size: 16px;
        margin-top: 5px;
      }

      a:link {
        color: royalblue;
      }

      a:visited {
        color: violet;
      }
    }

    .edit-button {
      float: right;
      margin-top: -25px;

      button {
        font-size: 18px;
      }
    }
  }
}
