.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  min-width: 300px;
  min-height: 400px;

  .title {
    font-size: 28px;
    font-weight: bold;
    color: rgb(46, 46, 49);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .invites-notification {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
    padding: 2px;
  }

  .invites-notification:hover {
    background-color: darkcyan;
  }

  .invitations-list {
    padding-left: 15px;
    margin-top: 0; margin-bottom: 0;
    margin-left: 50px;

    li {
      margin-top: 8px;
    }

    button {
      margin-left: 10px;
      background-color: turquoise;
      border: 2px solid teal;
    }

    button:hover {
      background-color: cornflowerblue;
      border-color: steelblue;
    }
  };

  .profile-card {
    margin-top: 20px;
    padding: 25px;
    padding-bottom: 15px;
    width: 80%;
    max-width: 450px;
    overflow-y: auto;
    margin-bottom: 20px;

    .profile-header {
      background-image: url('https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=');
      background-size: cover;
      margin-bottom: 0px;
    }

    .profile-info {
      .details {
        text-align: justify;
        font-size: 16px;
        margin-top: 22px;
        margin-left: 20px;
      }

      ul {
        margin-top: -5px;
      }

      li {
        margin-left: 20px;
        font-size: 16px;
        margin-top: 5px;
      }

      a:link {
        color: royalblue;
      }

      a:visited {
        color: violet;
      }
    }

    .edit-profile {
      float: right;
      margin-top: -25px;

      button {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 10px;
      }
    }
  }

  .buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    button {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 550px)
  {
      .buttons { width: 90%; }
  }
}
