<div class="container">
    <h1 class="greeting"> Welcome! </h1>
  
    <div class="register-section">
      <p>Please register:</p>
      <form [formGroup]="registerForm" class="register-form"> <!--registerForm trebuie creat in register component-->
        <mat-form-field color="accent" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstname">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastname">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Email</mat-label>
          <input (focusout)="onFocusOut()" required matInput placeholder="Email" formControlName="email">
          <div *ngIf="email.touched" class="alert">
            <div *ngIf="email.errors?.['required']">
              Email is required!
            </div>
            <div *ngIf="emailExists">
              An account for this email already exists.
            </div>
          </div>
        </mat-form-field>
      
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Password</mat-label>
          <input required matInput type="password" placeholder="Password" formControlName="password">
          <div *ngIf="password.dirty || password.touched" class="alert">
            <div *ngIf="password.errors?.['required']">
              Password is required!
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 5 characters long.
            </div>
            <div *ngIf="password.errors?.['maxlength']">
              Password cannot have more than 20 characters.
            </div>
          </div>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Username</mat-label>
          <input (focusout)="onFocusOut()" matInput type="username" placeholder="Username" formControlName="username">
          <!-- <mat-error *ngIf="registerForm.get('username')?.hasError('usernameAlreadyExists')">
            Username already <strong>exists</strong></mat-error> -->
          <div *ngIf="username.dirty || username.touched" class="alert">
            <div *ngIf="username.errors?.['required']">
              Username is required!
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              Username cannot have more than 30 characters.
            </div>
            <div *ngIf="username.errors?.['forbiddenChar']">
              Username can contain only letters, numbers and the underscore.
            </div>
            <div *ngIf="usernameExists">
              This username already exists, please choose a different one.
            </div>
            <!-- <div *ngIf="username.errors?.['usernameAlreadyExists']">
              This username already exists, please choose a different one.
            </div> -->
          </div>
        </mat-form-field>
      </form>
  
      <button mat-raised-button [disabled]="!registerForm.valid || emailExists || usernameExists" 
              (click)="register()">Sign up</button>
    </div>

    <p>If you already have an account, please login:</p> <button mat-raised-button (click)="openLoginForm()">Login</button>
  </div>