.container { // aliniem
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: steelblue;

    .greeting {
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .alert {
      color: darkred;
    }
  
    .register-section {
      width: 60%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: skyblue;

      .register-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        //background-color: lightblue;

        mat-form-field {
          width: 100%;
        }
      }
    }
  }