<div class="container">
    <h1 class='title'> Band Member Survey </h1>

    <form [formGroup] = "bandMemberSurveyForm" class="survey-form"> 
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="0" max="100" placeholder="Age" formControlName="age">
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['age'].hasError('min')">
                Minimum required number is 0!
            </div>
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['age'].hasError('max')">
                Maximum number excedeed!
            </div>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Occupation</mat-label>
            <input matInput placeholder="Occupation" formControlName="occupation">
        </mat-form-field>

        <div class="radio-buttons">
          <mat-label for="canSing">Are you looking for a singer?</mat-label>
          <input type="radio" [value]=true name="canSing" formControlName="canSing">
          <mat-label for=true>Yes</mat-label>
          <input type="radio" [value]=false name="canSing" formControlName="canSing">
          <label for=false>No</label>
       </div>

       <mat-form-field color="accent" appearance="outline">
           <mat-label>Instrument Played</mat-label>
           <input matInput placeholder="Instrument Played" formControlName="playedInstrument">
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
           <mat-label>Preferred Music Genre</mat-label>
           <input matInput placeholder="Preferred Music Genre" formControlName="preferredMusicGenre">
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
            <mat-label>Trait 1</mat-label>
            <mat-select formControlName="trait1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let trait of traits" [value]="trait">{{trait}}</mat-option>
            </mat-select>
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
           <mat-label>Trait 2</mat-label>
           <mat-select formControlName="trait2">
             <mat-option>None</mat-option>
             <mat-option *ngFor="let trait of traits" [value]="trait">{{trait}}</mat-option>
           </mat-select>
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>
    </form>

    <div class="actions">
        <button [disabled]="!bandMemberSurveyForm.valid" mat-stroked-button (click)="completeSurvey()">
            Complete Survey
        </button>

        <button mat-stroked-button class="cancel" (click)="closeDialog()">
          Cancel
        </button>
    </div>

</div>