<div class="container1" *ngIf="!matchedProfiles">
    <h1 class='title'> New Band Members Survey </h1>

    <form [formGroup] = "bandMemberSurveyForm" class="survey-form">
        <p>Where do you want the new band members to live?</p>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Country</mat-label>
            <input required matInput placeholder="Country" formControlName="country">
            <div *ngIf="country.touched" class="alert">
                <div *ngIf="country.errors?.['required']">
                    This field cannot be empty!
                </div>
            </div>
        </mat-form-field>
  
        <mat-form-field color="accent" appearance="outline">
            <mat-label>City</mat-label>
            <input required matInput placeholder="City" formControlName="city">
            <div *ngIf="city.touched" class="alert">
                <div *ngIf="city.errors?.['required']">
                    This field cannot be empty!
                </div>
            </div>
        </mat-form-field>
  
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>

        <div class="radio-buttons">
            <mat-label for="canSing">Are you looking for a singer?</mat-label>
            <input type="radio" [value]=true name="canSing" formControlName="canSing">
            <mat-label for=true>Yes</mat-label>
            <input type="radio" [value]=false name="canSing" formControlName="canSing">
            <label for=false>No</label>
       </div>

       <p>Other information used to search for new members:</p>
       <mat-form-field color="accent" appearance="outline">
            <mat-label>Instrument Played</mat-label>
            <input matInput placeholder="Instrument Played" formControlName="playedInstrument">
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
            <mat-label>Preferred Music Genre</mat-label>
            <input matInput placeholder="Preferred Music Genre" formControlName="preferredMusicGenre">
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
            <mat-label>Trait 1</mat-label>
            <mat-select formControlName="trait1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let trait of traits" [value]="trait">{{trait}}</mat-option>
            </mat-select>
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
            <mat-label>Trait 2</mat-label>
            <mat-select formControlName="trait2">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let trait of traits" [value]="trait">{{trait}}</mat-option>
           </mat-select>
       </mat-form-field>

       <mat-form-field color="accent" appearance="outline">
            <mat-label>Min Age</mat-label>
            <input matInput type="number" min="0" max="100" placeholder="Min Age" formControlName="minAge">
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['minAge'].hasError('min')">
                Minimum required number is 0!
            </div>
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['minAge'].hasError('max')">
                Maximum number excedeed!
            </div>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Max Age</mat-label>
            <input matInput type="number" min="0" max="100" placeholder="Max Age" formControlName="maxAge">
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['maxAge'].hasError('min')">
                Minimum required number is 0!
            </div>
            <div class="alert" *ngIf="bandMemberSurveyForm.controls['maxAge'].hasError('max')">
                Maximum number excedeed!
            </div>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Occupation</mat-label>
            <input matInput placeholder="Occupation" formControlName="occupation">
         </mat-form-field>
    </form>

    <div class="actions">
        <button [disabled]="!bandMemberSurveyForm.valid" mat-stroked-button (click)="completeSurvey()">
            Complete Survey
        </button>

        <button mat-stroked-button class="cancel" (click)="closeDialog()">
          Cancel
        </button>
    </div>
</div>

<div class="container2" *ngIf="matchedProfiles">
    <h1>Survey Results</h1>
    <div *ngIf="matchedProfiles.length>0"> <h2>Best Matches:</h2>
        <ng-container *ngFor="let profile of matchedProfiles">
            <li class="results" *ngIf="profile.bandId==null && profile.bandAndUserMatches"
            [ngStyle]="profile.bandAndUserMatches[0].type=='declined invitation' ? {color: 'tomato'} : {color: 'white'}">
                <span class="link" *ngIf="profile.firstName && profile.lastName" (click)="goToUserProfile(profile.owner.username)">
                    &#9655; {{profile.firstName}} {{profile.lastName}}</span>
                <span class="link" *ngIf="!profile.firstName || !profile.lastName" (click)="goToUserProfile(profile.owner.username)">
                    &#9655; {{profile.owner.username}}</span>
                <button (click)="sendInvitation(profile)" *ngIf="profile.bandAndUserMatches[0].type!='declined invitation'"
                [disabled]="profile.bandAndUserMatches[0].type=='invitation'">
                    <span class="active" *ngIf="profile.bandAndUserMatches[0].type=='survey match'">Send invitation to join the band</span>
                    <span *ngIf="profile.bandAndUserMatches[0].type=='invitation'">Sent invitation</span>
                </button>
                <span class="declined" *ngIf="profile.bandAndUserMatches[0].type=='declined invitation'">&nbsp;declined the invitation</span>
            </li>
        </ng-container> 
    </div>
    <p class="noMatch" *ngIf="matchedProfiles.length==0">No match found</p>
    <div class="actions">
        <button mat-stroked-button (click)="retakeSurvey()">Retake Survey</button>
        <button mat-stroked-button (click)="closeDialog()">Close</button>
    </div>
</div>