.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    padding: 15px;
    min-height: 645px;

    .goBackButton {
        margin-bottom: 30px;
    }

    .user-info-card {
        padding: 30px;
        width: 80%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-card-title {
            margin-bottom: 35px;
            font-size: 28px;
        }

        .details {
            margin-bottom: 25px;
            font-size: 16px;
        }

        .edit-button {
            font-size: 16px;
            border-width: 2px;
        }
    }

    .edit-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        margin-top: 30px;
  
        .change-info-form {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .alert {
            color: darkred;
          }
  
          mat-form-field {
            width: 100%;
            max-width: 300px;
          }
        }

        .saveButton {
            //color: azure;
            border-width: 2px;
        }
      }
}